@media (max-width:600px) {

  header {
    text-align: center;
  }

  .main-title {
   max-width: 60%;
   text-align: center;
  }

  .title_sub {
    text-align: center;
  }
  
  .header img {
    width: 40%;
  }  

  .horisontal-img {
    height: 20vh;
  }
  
  .trusted-brands p {
    font-size: 1rem;
    font-weight: 600;
} 

.features-title-image img{
  width: 50%;
  align-items: center;



}

.feautures-title {
  text-align: center;
}

/*ultimate*/

.ultimate-title, .feautures-title, .prising-title {
  width: 100%;
  text-align: center;
}

.ultimate-img img {
  max-width: 50%;
  height: auto;
  padding: 5%;
  display: block; 
  margin: 0 auto;
}

.prising-box {
 width: 200px;
}
.accordion {
  width: 100%;
}


}
  

@media  screen and (max-width:960px) {
  .title {
    width: 100%;
    margin: 0;
  }
}