
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}

body {
  font-family: 'Poppins', sans-serif; 
  color: #242f51;
}

section {
  padding:5%;
}


p {
  font-family: 'Poppins', sans-serif; 
  font-size: 15pt;
  color: #616368;
}

h3 {
  font-size: 36pt;
  font-weight: 600;
}


h5 {
  font-style: 'Poppins', sans-serif;
  font-size: 40pt;
}

h6 {
  font-size: 20pt;
  padding: 2% 0;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0px 10px;
}

.responsive {
  width: 100%;
  height: auto;
}


/*Header*/ 

header {
  height: 100vh;
  position: relative;
  padding-bottom: 5%;
}

.main-image img {
  max-width: 50%;
}


.navbar-toggler{
  width: 50px;
  height: 45px;
  border: 1px solid #273043;

}

.navbar-toggler .line{
  width: 100%;
  float: left;
  border: 1px solid #273043;
  margin-bottom: 5px;
}


nav.scroll {
  background-color: #fff;
  color: #eef;
}



.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-nav li a {
  color: #242f51;
  font-size: 14pt;   
  font-weight: 500;
  list-style: none;
  padding-top: 1.5rem;
}

.navbar-nav a:hover {
  color: #fcae61;
}



.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 80%; 
}

.navbar-brand span {
  font-size: 25pt;
  font-weight: 600;
}

.btn-header  {
  margin: 1rem;
}


.btn-header, .btn-video, .btn-section, .btn-prising{
  border: 1px solid #2500f9;
  border-radius: 25px;
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  color: #FFF;
  background-color: #2500f9;
  font-weight: 500;
  outline: none;
  height: 2.5rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.2);
}

.btn-header:hover, .btn-video:hover,
.btn-section:hover, .btn-prising:hover {
  filter: brightness(110%);
} 

.btn-header:active, .btn-video:active,
.btn-section:active, .btn-prising:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}


.hr {
    margin: 5%;
}

.header img {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.header-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.main-title {
    width: 60%;
    padding: 10% 10%;

}

.title h1 {
    font-size: 37pt;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #242f51;
    padding-top: 3%;
}

.title p {
    font-size: 11pt;
    width: 90%;
}

.main-title a{
  text-decoration: none;
  padding: 0 5% ;
  font-weight: 500;
}

.title_sub {
  display: flex;
}

.btn-sub {
    border: 1px solid #fcae61;
    background-color: #fcae61;
    border-radius: 30px;
    color: #fff;
    font-size: 15pt;
    padding:0 2%;

}

.input-anime {
  border: 1px solid #e2eaed;
  background-color: #e2eaed;
  color: #242f51;
  border-radius: 15px;
  padding: 0.2rem 1.8rem 0.2rem 0.3rem;
  outline: none;
  font-weight: 500;
  font-size:10pt;
}


header .horisontal-img {
   max-width: 100%;
   margin-bottom: 3%;
   position: absolute;
}

/*----------------Brands---------------------- */

.trusted-brands {
  
  padding-bottom: 2%;
}

.trusted-brands p {
    text-align: center;
    color: #2500f9;
    font-size: 2rem;
    padding: 1%;
}

.brands  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap;
}


.brands img {
    max-width: 100%;
    height: auto;

}

/*---------------Feautures--------------*/

.feautures-first-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.feautures-item {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.feautures-item h6, .feautures-item-hor h6 {
  font-size: 20pt;
  padding: 1% 0;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

}

.feautures-title {
  width: 50%; 
}



.feautures-title h3 {
  font-size: 36pt;
  font-weight: 600;

}

.feautures-text {
  padding: 5%;
  
  width: 60%;
}

.feautures-text h5 {
  font-size: 36pt;
  font-weight: 600;
  
  
}

.item-title {
  padding: 3%;
    
}


.item-title h6 {
  font-size: 20pt;
}

.feautures-text p {
  padding-top: 4%;
}

.feautures-text {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  
}

.feautures-item-horisontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;


}

.feautures-item-hor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 30%;
   

}

.feautures-item-hor img{
  padding: 2% 0;

}






.perform h6 {
  color: #f55767;
}

.perform a {
  border: 1px solid #ffecef;
  border-radius: 40px;
  background-color: #ffecef;
  padding: 3%;
}

.proto h6 {
  color: #2563ff;
}

.proto a {
  border: 1px solid #f4f4ff;
  border-radius: 40px;
  background-color: #f4f4ff;
  padding: 3%;

}

.vector h6 {
  color: #40975f;
}

.vector a {
  border: 1px solid #e4ffee;
  border-radius: 40px;
  background-color: #e4ffee;
  padding: 3%;
}
/*-------------------designed-section----------------------*/

.designed-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5%
}


.designed-title h3 {
  font-size: 36pt;
  font-weight: 600;

}

.designed-title {
  padding:3% ;
}


/*-------------------choose-title-------------------------*/



.choose-title  {
  text-align: center;
}


.choose-title h3 {
  font-size: 36pt;
  font-weight: 600;
  font-family: 'Poppins', sans-serif; 
}



.choose-icon {
  padding-bottom: 8%;
}

.choose-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;

}


.choose-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 31%;
  padding: 5% 2%;
}

.choose-box p {
  text-align: center;
  font-family: 'Poppins', sans-serif; 
    

}

.choose-box h5 {
  font-size: 20pt;
  font-weight: 600;
  padding: 3%;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif; 
}


.dev img{
    border: 1px solid #ffecef;
    border-radius: 40px;
    background-color: #ffecef;
    padding: 3%;
}

.award img {
    border: 1px solid #eaf9ff;
    border-radius: 40px;
    background-color: #eaf9ff;
    padding: 3%;
}

.cloud img{
    border: 1px solid #fff6d3;
    border-radius: 50px;
    background-color: #fff6d3;
    padding: 3%;
}

.custom img{
    border: 1px solid #e4ffee;
    border-radius: 40px;
    background-color: #e4ffee;
    padding: 3%;
}

.plan img{
    border: 1px solid #f4f4ff;
    border-radius: 50px;
    background-color: #f4f4ff;
    padding: 3%;
}


.support img{
    border: 1px solid #fdeee4;
    border-radius: 40px;
    background-color: #fdeee4;
    padding: 3%;
}

/*------------------ultimate-title-----------------------*/


.ultimate-title {
   
   text-align: center;
   margin: 0 auto;

}

.ultimate-title h3 {
  font-size: 36pt;
  font-weight: 600;
}


.ultimate-content {
   display: flex;
   flex-wrap: wrap;
}

.ultimate-item{
    display: flex;
    flex-wrap: wrap;
    padding: 5% 0;
 
}



.ultimate-box {
  max-width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.ultimate-box img {
  padding: 3% 0;
}

.ultimate-box h5 {
    font-style: 'Poppins', sans-serif;
    font-size: 20pt;
    font-weight: 600;
    padding: 5% 0;
}

.ultimate-img {
    position: relative;

}

.img-first {
    position: absolute;
   z-index: 2;
}
.img-second {
    z-index: 5;
    position: relative;
    padding-left: 30%;
}

/*---------------------prising------------------------------*/

.prising {
  padding: 5%;
}

.prising-title {
    text-align: center; 
   

}

.prising-title  h3 {
  font-size: 36pt;
  color:#242f51;
  font-weight: 600;
}

.prising-item {
   display: flex;
   text-align: center;
   justify-content: center;
   flex-wrap: wrap;

}

.prising-box {
  border: 1px solid #f4f7f9;
  margin: 3%;
  position: relative;
  border-radius: 5%;
}

.prising-box:hover {
  transition: all 0.5s ease;
  border: 1px solid #bdd7fd;
  background-color: #bdd7fd;
  color: #fff;
}


.prising-item-title {
    background-color: #f4f7f9;
    padding: 9% 10%;
} 

.pricing-list {
    padding: 9% 10%;
    color: #999ca5;
}


.prising-item-title h6 {
   font-size: 20pt;
   color: #242f51;
   font-weight: 600;
}


/*---------------------client-section---------------------------*/

.client {
  background-color: rgb(189, 215, 253, 0.2);
  padding: 3%;
}


.client-title{
    text-align: center;  
}

.client-title h3 {
  font-size: 36pt;
  color:#242f51;
  font-weight: 600;
}

.client-title p {
  color:#242f51;
 
}


.slider {
  margin: 0 auto;
 
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 0.3rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -50%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
 
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {

  height: 100%;
  padding: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__caption {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(37,	0,	249, 0.2);
  text-transform: capitalize;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #2500f9;
    box-shadow: 0 0 0 12px #2500f9, 0 0 0 36px rgba(	37,	0,	249, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #2500f9, 0 0 0 0 rgba(37,	0,	249, 0.2);
  }
}

@keyframes check {
  50% {
    outline-color: #2500f9;
    box-shadow: 0 0 0 12px #2500f9, 0 0 0 36px rgba(37,	0,	249, 0.2);
  }
  100% {
    outline-color: #2500f9;
    box-shadow: 0 0 0 0 #2500f9, 0 0 0 0 rgba(37,	0,	249, 0.2);
  }
}


/*-------------------------faq-title--------------------------*/

.faq {
 padding: 3%;
}


.faq-title {
   text-align: center;
   color: #242f51;
   width: 70%;
   margin: 0 auto;

}

.faq-title h3 {
 font-size: 36pt;

}

.accordion {
   margin: 0 auto;
   width: 50%;
   padding: 5% 0;
}

.accordion-header {
  color: #242f51;
  font-size: 20pt;
  font-weight: 600;
}


.accordion-item button {
  background-color: #bdd7fd;
  color: #242f51;
  font-weight: 500;
  text-transform: capitalize;
}

.accordion-flush {
  border-radius: 20%;
}


 .accordion-item button:focus {
  background-color: #2500f9;
  color: #fff;
  outline: #fff;
}


/*------------------download-section-------------------*/

.download-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.download-title {
  text-align: center;
  width: 70%;
}

.download-title h3{
  font-size: 36pt;
  font-weight: 600;
 

}

.download-title a {
 
 padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #bdd7fd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.download-title a:hover {
  background-color: #bdd7fd;
}



.download-title a:active {
  background-color: #bdd7fd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* Footer */


.footer {
    background-color: #09142e;
    text-align: center;
    height: 35vh;
    padding: 5% 0;
}

.navbar-brand-footer {
    padding: 3% 0;
    text-decoration: none;
}

.footer-navbar-nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding:0 7%;
    flex-wrap: wrap;
} 


.footer-title h4 {
  font-size: 36pt;
  color: #fff;
}

.nav-item-footer a{
   color:#fff;
}

.footer-navbar-nav a:hover {
    color:#fcae61 ;
}

.icon-list  {
    display: flex; 
    justify-content: center; 
    list-style-type: none;
    
}

.icon-list  a {
    padding: 10px;
    font-size: 16pt;
}

.icon-list a {
    color: #273043;
    align-content: space-around;
}

.icon-list a:hover {
    color: #fff;
}

.footer-copyright {
    color: #505461;
    text-decoration: none;
}


/*Popup*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition:  all 0.8s ease 0s;
  
}



.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0px 0px);
  opacity: 1;
}

/* opening popup by css */
/*
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  transform: translate(0px 0px);
  opacity: 1;
}





*/

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px ;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  opacity: 0;
  transform: translate((0px, -100%));
  transition: all 0.8s ease 0s;
}

.popup__close{
 position: absolute;
 right: 10px;
 top: 10px;
 font-size: 20px;
 color: #000;
 text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}


.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
